PUBLIC_SITE_URL=https://lafkos.guide
PUBLIC_MAP_PMTILES_URL=https://assets.lafkos.guide/south-pelion.pmtiles
PUBLIC_SANITY_PROJECT_ID=evvemyq8
PUBLIC_SANITY_DATASET=production
SANITY_STUDIO_PROJECT_ID=evvemyq8
SANITY_STUDIO_DATASET=production
SANITY_API_VERSION=2026-08-01
